@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #ADD8E6;
  --foreground-color: black;
  --menu-foreground-color: #defdff;
  --menu-background-color: #303c6c;
} */

:root {
  --background-color: #fafafa;
  --foreground-color: #1c1c1c;

  --menu-background-color: #7f1d1d; /* Deep crimson */
  --menu-foreground-color: #fee2e2;

  --card-bg: #ffffff;
  --card-border: #f3c5c5;

  --accent-primary: #b91c1c;
  --accent-secondary: #f87171;

  --table-header: #ffe6e6;
  --table-row-hover: #fff1f1;
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
}

.site-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 75vh; /* Ensure container is at least viewport height */
}

main {
  flex-grow: 1; /* Allow main content to take up available space */
}

.cardAboutDept {
  background: var(--background-color);
}

.header {
  background: var(--background-color);
  color: var(--foreground-color);
  display: flex;
}

.heading-1 {
  color: var(--foreground-color);
  font-size: 2.5vw;
  text-align: center;
  vertical-align: middle;
  text-decoration: solid;
}

.heading-2 {
  color: var(--foreground-color);
  font-size: 1vw;
  text-align: center;
  vertical-align: middle;
}

.container {
  display: flex;
  background: var(--background-color);
}

.navbar {
  background: var(--menu-background-color);
  color: var(--menu-foreground-color);
  border-bottom: 3px solid var(--accent-primary);
}

.logoright {
  align-self: flex-end;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 5px;
}
img {
  border-radius: 50%;
}

.logoleft {
  align-self: flex-start;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.headercontent {
  align-self: center;
  flex-grow: 4;
}
